[defaults]
roles_path = ./AAP-MTV-standard-migration/roles
filter_plugins = ./AAP-MTV-standard-migration/filter_plugins
interpreter_python = auto_silent
callback_result_format = yaml
retry_files_enabled = False
host_key_checking = False
timeout = 30

[persistent_connection]
command_timeout = 60
